body {
  font-family: "Georgia", serif;
  background: #fff6ee;
  text-align: center;
  margin: 0;
  padding: 40px;
}


h1 {
  font-size: 48px;
  color: #3f3d56;
}

.subtitulo {
  color: #666;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  padding: 40px 20px;
  border-radius: 20px;
  color: #f0765b;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.editor {
  max-width: 800px;
  margin: auto;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

.botones {
  margin-top: 20px;
}

button {
  background: #f0765b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

button:disabled {
  background: #ccc;
}

#login {
  width: 420px;
  padding: 40px;
  margin: 120px auto;
  background: #fdfefe;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.18);
}

#login h1 {
  text-align: center;
  margin-bottom: 25px;
}

#login input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#login button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  background: #2e86de;
  color: white;
  border: none;
  cursor: pointer;
}

#login button:hover {
  background: #2169b5;
}

.buscador-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#buscador {
  width: 320px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

#buscador:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.fecha {
  font-size: 16px;        /* ← más grande */
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
}



